# HPC lab data path containing NatView dataset (rclone mount point)
# Copy to .env and update with your local mount path
HPC_DATA_PATH=~/hpc-lab
fMRI_PATH=your/local/path/to/fMRI/interval/data/
EXPRESSION_PATH=your/local/path/to/gene/expression/data/
