# Environment
.env
venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Other
preprocessing/fmri_preprocessing/docs/
sample_data/