# Requirements for fmri_preprocessing directory
python-dotenv>=1.0.0
nilearn>=0.10.0

# Requirements from preprocessing/omics_preprocessing/create_omics_dataset.py
torch>=2.0.0
numpy>=1.24.0
pandas>=2.0.0

# GNN model (model/gnn_pipeline.ipynb)
torch_geometric>=2.4.0